/* Put your CSS here */
html, body {
  margin: 10px 20px;
  font-family: "Meslo LG L DZ", "Menlo", "Monaco", "Courier";
}

label {
  display: inline-block;
  width: 16em;
  font-weight: bold;
}

select {
  width: 20em;
}

.hint {
  font-size: 67%;
}

table {
  border-collapse: collapse;
  color: #333;
}
table thead th {
  background: #ccc;
  border: 1px solid #333;
}
table tbody th, table tbody td {
  border-bottom: 1px solid #666;
  border-left:   1px solid #ccc;
  border-right:  1px solid #ccc;
  padding: 3px 6px;
}
